 body {
     background: url('../images/background.png') bottom;
     background-repeat: no-repeat;
     background-size: 100vw 120vh;
     height: 100vh; 
     width: 100vw;
     color: white;
     font-family: "Segoe UI", sans-serif;
     display: flex;
     justify-content: center;
     overflow: hidden;
 }

 /* Overlay full-screen */
 #modeOverlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.6);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 100;
 }

 .overlay-box {
     background: white;
     color: black;
     padding: 30px 50px;
     border-radius: 10px;
     text-align: center;
     font-size: 22px;
 }

 button {
     margin: 10px;
     padding: 10px 20px;
     font-size: 18px;
     cursor: pointer;
 }

 .autoMode {
     background-color: #e5e7eb;
     height: 100vh;
     width: 100vw;
     display: none;
 }


 .manualMode {
     display: block;
     text-align: center;
 }

 .column {
     margin-top: 2vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1%;

 }


 #actionButtons {

     margin: 12px 0;
     visibility: hidden;
     pointer-events: none;

 }


 #actionButtons.visible {
     visibility: visible;
     /* or opacity: 1 */
     pointer-events: auto;
 }

 .node {
     width: 30%;
     height: 30%;
     position: relative;
     cursor: pointer;
     transition: 0.25s ease;
 }

 .node img {
     width: 30%;
     height: 30%;
     object-fit: contain;
     pointer-events: none;
 }

 .node span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 100%;
     font-weight: bold;
     color: white;
     pointer-events: none;
     text-shadow: 0 0 5px #000;
 }

 .node.selected {
     transform: scale(1.15);
     filter: drop-shadow(0 0 12px #58a6ff);
 }

 .node.correct {
     filter: drop-shadow(0 0 12px #4caf50);
 }

 .node.wrong {
     filter: drop-shadow(0 0 12px #ff3b3b);
 }

 #resetBtn {
     visibility: hidden;
     padding: 10px 16px;
     margin-top: 10px;
     background: #1f2937;
     border: 1px solid #374151;
     color: #e5e7eb;
     border-radius: 8px;
     cursor: pointer;
     transition: 0.2s ease;
 }

 #resetBtn:hover {
     background: #2d3748;
 }



 .santa img {
     width: 30vh;
 }

 .santa {
    visibility: visible;
 }

 .shark{
     margin-top: -50vh;
     margin-left: -120vw; 
     position: absolute;
     animation: float 3s infinite;
     display: none;
 }

 .shark img {
    height: 400px;
 }

 

 @keyframes float {
     from {
         transform: translateX(10vw);
     }

     to {
         transform: translateX(250vw);
     }
 }