body {
    height: 100vh;
    background: url("images/background.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}

/* Navigation bar*/
.navbar {
    border: solid;
    color: #00767a;
    width: 100%;
    padding-top: 1vh;
    padding-left: 3vw;
    display: flex;
    padding-right: 2vw;
    gap: 3vw;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.nav-item {
    color: #00767a;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.25s ease;
}

.nav-item:hover {
    color: #ffffff;
    background: #00767a;
    transform: scale(1.03);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}


/*Circle part*/
.sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    position: fixed;    
    top: 10vh;
}

svg {
    overflow: visible;
    width: 35vw;
    height: 35vw;
}

path {
    cursor: pointer;
    transition: 0.25s;
    transform-box: fill-box;
}

path:hover {
    z-index: 100;
    transform: scale(1.1);
    transform-origin: 20% 20%;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

#sliceText {
    font-family: Arial, sans-serif;
    text-anchor: middle;
    fill: white;
    font-size: 4px;
}

#text {
    font-family: Arial, sans-serif;
    text-anchor: middle;
}

/* Content Box */
.theory-container {
    border: solid;
    padding-right: 2vw;
    height: 90vh;
    overflow-y: auto;
}


/* Dark mode */
body.dark {
    background-color: #0d1117;
    color: #e6edf3;
}

.navbar.dark {
    color: white;
}

.navbar.dark a{
    color: white;
}


/*the switch button*/
/* The outer track */
.switch {
  position: relative;
  display: inline-block;
  width: 3vw;
  height: 1.6vw;
}

/* Hide the checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

/* The circle */
.slider:before {
  position: absolute;
  content: "";
  height: 1vw;
  width: 1vw;
  left: 0.2vw;
  top: 0.25vw;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* ON state (checkbox checked) */
.switch input:checked + .slider {
  background-color: #00767a;
}

.switch input:checked + .slider:before {
  transform: translateX(1.7vw);
}
