* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: url(images/background.png) no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
    overflow: hidden;
    height: 100vh;

}


/* MAIN LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

}

#imageBox {
    height: 60vh;
    /* margin-left: 10vw; */
    transition: transform 0.3s ease;
}

#imageBox:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.slide {
    position: relative;
    margin-left: 1vw;
    margin-top: 2vh;
    height: 90vh;
    width: auto;
    position: relative;
    animation: slide 1s ease;
    /* center the slides */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    from {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1vh;
    font-size: 4vh;
    width: 6vh;
    height: 6vh;
    color: white;
    background: #00767a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    text-align: center;
    display: block !important;
    padding: 0 !important;
}

.navBtn:hover {
    background: #d2ede4;
}

.left {
    left: 6vw;
}

.right {
    right: 6vw;
}

/* TEXT AREA */
.content {
    text-align: center;
    font-size: 20vh;
    font-weight: bold;
    color: #00767a;
}

.title {
    font-size: 12vh;
    font-weight: 800;
    line-height: 1.1;

}

/* START BUTTON */
.start-btn {
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #00767a;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: 0 5px 0 #d2ede4;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}

.start-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 0 #d2ede4;
}

.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 #00767a;
}



/* RESPONSIVE */
@media(max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .illustration img {
        width: 360px;
    }

    .title {
        font-size: 42px;
    }
}