 body {
     background: url('images/background.png') bottom;
     background-repeat: no-repeat;
     background-size: 100vw 120vh;;
     color: white;
     font-family: "Segoe UI", sans-serif;
     display: flex;
     justify-content: center;
 }

 .game-container {
     text-align: center;
 }

 .column {
    margin-top: 20vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1%;

 }

 .node {
     width: 15%;
     height: 15%;
     position: relative;
     cursor: pointer;
     transition: 0.25s ease;
 }

 .node img {
     width: 30%;
     height: 30%;
     object-fit: contain;
     pointer-events: none;
 }

 .node span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 100%;
     font-weight: bold;
     color: white;
     pointer-events: none;
     text-shadow: 0 0 5px #000;
 }

 .node.selected {
     transform: scale(1.15);
     filter: drop-shadow(0 0 12px #58a6ff);
 }

 .node.correct {
     filter: drop-shadow(0 0 12px #4caf50);
 }

 .node.wrong {
     filter: drop-shadow(0 0 12px #ff3b3b);
 }

 #resetBtn {
     display: none;
     padding: 10px 16px;
     margin-top: 10px;
     background: #1f2937;
     border: 1px solid #374151;
     color: #e5e7eb;
     border-radius: 8px;
     cursor: pointer;
     transition: 0.2s ease;
 }

 #resetBtn:hover {
     background: #2d3748;
 }

 .santa img{
    width: 30vh;
 }

 .shark img{
    margin-top: -20vh;
    margin-left: -70vw;
    height: 30vh;
    position: absolute;
    animation: float 2s infinite;
 }

 @keyframes float {
     from {
            transform: translateX(10vw);
        }

        to {
            transform: translateX(140vw);
        }
 }