body {
    height: 100vh;
    background: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.navbar {
    width: 100%;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-item {
    color: #c9d1d9;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.25s ease;
}

.nav-item:hover {
    color: #58a6ff;
    background: #1f2937;
    transform: scale(1.08);
}


.theory {
    border: solid;
}

.theory {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    overflow: visible;
    border: solid;
    width: 85vh;
    height: 85vh;
}

path {
    cursor: pointer;
    transition: 0.25s;
    transform-box: fill-box;
}

path:hover {
    z-index: 100;
    transform: scale(1.1);
    transform-origin: 20% 20%;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

#sliceText {
    font-family: Arial, sans-serif;
    text-anchor: middle;
    fill: white;
    font-size: 4px;
}

#text {
    font-family: Arial, sans-serif;
    text-anchor: middle;
}


/* Other parts */
.others {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.practise button {
    background-color: #03359b;
    color: white;
    width: 20vw;
    height: 20vh;

}

.visual button {
    background-color: #03359b;
    color: white;
    width: 20vw;
    height: 20vh;
}

.game button {
    background-color: #03359b;
    color: white;
    width: 20vw;
    height: 20vh;
}